@import "theme-relearn-dark.css";

:root {
    --PRIMARY-color: rgb( 255, 215, 0 ); /* brand primary color */
    --SECONDARY-color: rgba(255, 217, 0, 0.699); /* brand secondary color */

    --MAIN-BG-color: rgba( 35, 44, 50 ); /* background color of content */

    --MENU-SEARCH-color: rgba( 224, 224, 224, 1 ); /* text and icon color of search box */
    --MENU-SEARCH-BG-color: rgba( 28, 37, 44, 1 ); /* background color of search box */
    --MENU-SEARCH-BORDER-color: rgba( 224, 224, 224, 1 ); /* border color of search box */

    --MENU-SECTIONS-BG-color: rgba( 28, 37, 44, 1 ); /* background of the menu; this is NOT just a color value but can be a complete CSS background definition including gradients, etc. */
    --MENU-SECTIONS-LINK-color: rgba( 255, 215, 0 ); /* link color of menu topics */
    --MENU-SECTIONS-ACTIVE-BG-color: rgba( 28, 37, 44, 1 ); /* background color of the active menu section */
}
